@CHARSET "ISO-8859-1";

body{
padding-top: 2em;
background-image: url('images/solitude.jpg');
background-size: cover;
background-repeat: no-repeat;
font-family: "Lato","Trebuchet MS",sans-serif;
font-size: 16px;
}

#wrapper {
	display: block;
	max-width: 1170px;
	margin: 0px auto;
}
div#container1{
	margin-top: 45px;
	background-color: rgba(188,214,247, 0.2);
	padding-bottom: 75px;
}
div#container2{
	margin-top: 45px;
	background-color: rgba(0, 0, 0, 0.2);
	padding-bottom: 0;
	padding-top:0;
}
a{
	color: #c2c2c2;
}
a:visited {
    color: #a2834e;
}

#title-area p, #title-area-about p{
    color: #62391B;
}
#title-area .contact-info p, #title-area-about .contact-info p  {
    color: #c2c2c2;
    font-family: "Lato";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
}

#title-area.show, #title-area-about.show{
    opacity: 1;
}
#title-area {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  	background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    padding: 60px;
    box-sizing: border-box;
    left: 50%;
    margin: 0 0 0 -20%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 0.4s ease 0s;
    width: 40%;
    margin-top: -225px;
    text-align: center;
    
}
#title-area-about{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  	background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    padding: 60px;
    box-sizing: border-box;
    left: 40%;
    margin: 0 0 0 -20%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 0.4s ease 0s;
    width: 60%;
    margin-top: -225px;
    text-align: center;
}
/* --------------------RESPONSIVE LAYOUT------------------ */

#title-area h1,#title-area-about h1{
    color: #a2834e;
    font-family: "Lato";
    font-size: 80px;
    font-weight: 80;
    letter-spacing: 2px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
}


@media screen and (min-width: 320px) {
#title-area h1 {
    font-size: 18px;
}
}	
@media screen and (min-width: 480px) {
#title-area h1 {
    font-size: 30px;
}
}
@media screen and (min-width: 600px) {
#title-area h1 {
    font-size: 40px;
}
}
@media screen and (min-width: 768px) {
#title-area h1 {
    font-size: 50px;
}
}
@media screen and (min-width: 1268px) {
#title-area h1 {
    font-size: 80px;
}
}
/* --------------------/RESPONSIVE LAYOUT------------------ */

#header {
	margin-top: 65px;
}


#content {
	width: 75%;

	float: left;

}

#sidebar {
	width: 23%;

	float: right;
}

#delimiter {
	clear: both;
}

#footer {

}

.title {
	font-size: 11pt;
	font-family: verdana;
	font-weight: bold;
}
.wpcf7-form p{
  display: inline-block;
  font-size: 18px;
  margin: 0 5px 5px 0;
  text-align: right;
  vertical-align: top;
  width: 100%;
  max-width: 300px;
 }
 .wpcf7-form-control{
  display: inline-block;
  margin: 0 5px 5px 0;
  text-align: left;
  vertical-align: top;
  width: 500px;
 }
ul li {

list-style: none;
}